body {
     font-family: 'Nunito Sans', sans-serif !important;
    overflow-x: hidden;
    font-size: 16px;
}

.container-fluid {
    width: 100%;
    position: relative;
    margin-right: 0;
}

.navbar {
    background-color: #3DB4A9;
}

h3 {
    color: #3DB4A9;
    font-weight: 600 !important;
}

/* Header */

header {
    padding-top: 1.5em !important;
}

#title {
    color: white;
    padding-right: 2em;
}

.logo {
    width: 12em;
}

.nav-menu {
    padding-right: 3em;
    color: white;
}

/*Navbar*/ 
#sidebar header {
    background-color: rgba(61, 180, 169, 0.5);
    color: #295B60;
    padding: 0.7em;
    padding-right: 2em;
    margin-bottom: 2em;
    font-size: 14px;
    line-height: 22px; 
    text-align: justify;
}

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    /* width: 250px; */
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    padding: 0.7em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }

.staging {
    display: inline;
}

/* Map Buttons: key, existing, proposed 
.map-modes {
   position: fixed;
    z-index: 2;
    top: 8em;
}
 #key {
    border-radius: 25px;
    background-color: white;
    border: 2px solid #295B60; 
    color: #295B60;
    margin-left: 5em;
}

#key:active {
    border-radius: 25px;
    background-color: #3DB4A9;
    border: 2px solid #3DB4A9; 
    color: white;
    margin-left: 5em;
}

#mode {
    color: #3DB4A9;
    background-color: white;
    border: none;
    border-radius: 25px;
    
}

#mode:hover {
    color: white;
    background-color:#3DB4A9;
    border: none;
    border-radius: 25px;
    
}

.button-wrap {
    border-radius: 25px;
    border: 2px solid #3DB4A9; 
    margin-left: 2em;
    background-color: white;
}
*/ 