
html{
    height: 100%;
}

body {
    font-family: 'Nunito Sans', sans-serif !important;
    overflow-x: hidden;
    font-size: 20px !important;
    overflow-y: hidden;
}

.container-fluid {
    width: 100%;
    position: relative;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.navbar {
    background-color: #3DB4A9;
}

h4 {
    color: #3DB4A9;
    font-weight: 600 !important;
    padding-top: 0.5em;
}

/* Header */
#title {
    color: white;
    padding-right: 2em;
}

.logo {
    width: 12em;
}

.nav-menu {
    padding-right: 3em;
    color: white;
    height: 7vw;
}

/* Click Events*/
li{
    cursor: pointer;
}

/*Navbar*/ 
#sidebar header {
    background-color: rgba(61, 180, 169, 0.5);
    color: #295B60;
    padding: 0.7em;
    padding-right: 2em;
    font-size: 10em;
    text-align: justify;
}

#sidebar {
    z-index: 1;
    background-color: white;
    position: fixed;
    max-height:100vh;
    overflow-y: scroll;
    bottom: 1vw;
    top: 8vw;
    padding-top: 1vw;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-overflow-scrolling: touch;
    }

#wheel {
    visibility: visible;
    pointer-events: auto;
    width: 65%; 
    height: auto;
}

ul {
    padding-bottom: 1em; 
}

.side-list {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin:1px;
    background-color: #295B60;
    color: white;
    font-size: 12px;
}

/* Map Section */ 
#map {   
  /*  this was suggested to be added but not doing any difference
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
    height: 100%; */
}

/* Styles photo marker */
.photoMarker {
background-image: url('img/icon-photo.png');
background-size: cover;
width: 2em;
height: 2em;
border-radius: 50%;
cursor: pointer;
} 

/* Styles photo marker pop up */
.photo-popup {
 
}

.mapboxgl-popup-content {
    font-family: 'Nunito Sans', sans-serif !important;
    width: 400px !important; 
}

.mapboxgl-popup-tip {
    visibility: hidden;
}

/*Zoom Buttons*/
.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  background-image: url('img/+.png') !important;
}
.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  background-image: url('img/-.png') !important;
}
.zoom {
    right: 40px;
    position: fixed;
    z-index: 2;
    top: 9em;
}
.zoom button {
    margin: 0.2em;
    color: white; 
    background-color: #295B60;
    padding: 0;
    width: 29px;
    height: 29px;
    font-size: 7px;
    font-weight: 800;
}

/*a:active {
    width: 700px;
    height: 74px;
}

// to make pop ups scrollable 
.mapboxgl-popup-content {
overflow-y: scroll;
overflow-x: scroll;
}

// Map modes 
.map-modes {
   position: fixed;
    z-index: 2;
    top: 8em;
}
 #key {
    border-radius: 25px;
    background-color: white;
    border: 2px solid #295B60; 
    color: #295B60;
    margin-left: 5em;
}

#key:active {
    border-radius: 25px;
    background-color: #3DB4A9;
    border: 2px solid #3DB4A9; 
    color: white;
    margin-left: 5em;
}

#mode {
    color: #3DB4A9;
    background-color: white;
    border: none;
    border-radius: 25px;
    
}

#mode:hover {
    color: white;
    background-color:#3DB4A9;
    border: none;
    border-radius: 25px;
    
}

.button-wrap {
    border-radius: 25px;
    border: 2px solid #3DB4A9; 
    margin-left: 2em;
    background-color: white;
}
*/ 


